/*
Nick Milo's Callout Pack for Obsidian (Version: 1.0)
> A cool collection of compelling callouts.

Pay it forward. Support an Obsidian developer.

Theme Code is distributed under the MIT License.

Special code is added to work with the Prism theme by Damian Korcz <https://github.com/damiankorcz>

COLOR LISTS

PURPLE: Calendar, Globe, Industry, Network, Orbit, Venetian, Video
CYAN: Blocks, Map, Radar, Rocket, Planet, User
ORANGE: Book, Boxes, Compass, Keaton, Shell, Tram-front
YELLOW: Combine, Connect, Puzzle, Sparkles, Sun
GREY: Box, Command, Cross, Hexagon, Link, Script, Notes
PINK: Activity, Joystick, Milestone, Rainbow, Tower 
MINT: Cable-car, Castle, Combo, Camera, Play, Recycle
GREEN: Bike, Contact, Leaf, Sprout, Train, Training, Trees
BLUE: Anchor, Locate-fixed, Parking-square, Sailboat, Ship, Shipwheel, Snowflake
RED: Award, Cone, Fingerprint, Watch

-------------
*/

/* activity */

.callout[data-callout="activity"] {
    --callout-color: 233, 124, 238;
    --callout-icon: activity;
}

/* anchor */

.callout[data-callout="anchor"] {
    --callout-color: 64, 192, 87;
    --callout-icon: anchor;
}

/* award */

.callout[data-callout="award"] {
    --callout-color: 250, 82, 82;
    --callout-icon: award;
}

/* bike */
.callout[data-callout="bike"] {
    --callout-color: 64, 192, 87;
    --callout-icon: bike;
}

/* blocks */
.callout[data-callout="blocks"] {
    --callout-color: 77, 171, 247;
    --callout-icon: blocks;
}

/* book */

.callout[data-callout="book"] {
    --callout-color: 255, 146, 43;
    --callout-icon: book;
}

/* box */

.callout[data-callout="box"] {
    --callout-color: 134, 142, 150;
    --callout-icon: box;
}


/* boxes */

.callout[data-callout="boxes"] {
    --callout-color: 255, 146, 43;
    --callout-icon: boxes;
}

/* cable-car */

.callout[data-callout="cable-car"] {
    --callout-color: 18, 184, 134;
    --callout-icon: cable-car;
}

/* calendar */

.callout[data-callout="calendar"] {
    --callout-color: 151, 117, 250;
    --callout-icon: calendar-days;
}


/* camera */

.callout[data-callout="camera"] {
    --callout-color: 18, 184, 134;
    --callout-icon: camera;
}

/* castle mint */
.callout[data-callout="castle"] {
    --callout-color: 18, 184, 134;
    --callout-icon: castle;
}

/* castle orange */
.callout[data-callout="castleo"] {
    --callout-color: 18, 184, 134;
    --callout-icon: castle;
}

/* combine */

.callout[data-callout="combine"] {
    --callout-color: 199, 196, 0;
    --callout-icon: combine;
}

/* combo */

.callout[data-callout="combo"] {
    --callout-color: 18, 184, 134;
    --callout-icon: gamepad;
}

/* command */

.callout[data-callout="command"] {
    --callout-color: 134, 142, 150;
    --callout-icon: command;
}


/* compass */

.callout[data-callout="compass"] {
    --callout-color: 255, 146, 43;
    --callout-icon: compass;
}

/* cone */

.callout[data-callout="cone"] {
    --callout-color: 250, 82, 82;
    --callout-icon: traffic-cone;
}

/* connect */

.callout[data-callout="connect"] {
    --callout-color: 199, 196, 0;
    --callout-icon: share-2;
}

/* contact */

.callout[data-callout="contact"] {
    --callout-color: 233, 124, 238;
    --callout-icon: contact;
}

/* cross */

.callout[data-callout="cross"] {
    --callout-color: 134, 142, 150;
    --callout-icon: cross;
}

/* fingerprint */

.callout[data-callout="fingerprint"] {
    --callout-color: 250, 82, 82;
    --callout-icon: fingerprint;
}

/* globe */

.callout[data-callout="globe"] {
    --callout-color: 151, 117, 250;
    --callout-icon: globe;
}


/* hexagon */

.callout[data-callout="hexagon"] {
    --callout-color: 134, 142, 150;
    --callout-icon: hexagon;
}

/* industry */

.callout[data-callout="industry"] {
    --callout-color: 151, 117, 250;
    --callout-icon: building-2;
}

/* joystick */

.callout[data-callout="joystick"] {
    --callout-color: 233, 124, 238;
    --callout-icon: joystick;
}

/* keaton */

.callout[data-callout="keaton"] {
    --callout-color: 255, 146, 43;
    --callout-icon: quote;
}

/* leaf */

.callout[data-callout="leaf"] {
    --callout-color: 64, 192, 87;
    --callout-icon: leaf;
}

/* link */

.callout[data-callout="link"] {
    --callout-color: 134, 142, 150;
    --callout-icon: link;
}

/* locate */

.callout[data-callout="locate"] {
    --callout-color: 64, 192, 87;
    --callout-icon: locate-fixed;
}

/* map */

.callout[data-callout="map"] {
    --callout-color: 77, 171, 247;
    --callout-icon: map;
}

/* milestone */

.callout[data-callout="milestone"] {
    --callout-color: 233, 124, 238;
    --callout-icon: milestone;
}

/* network */

.callout[data-callout="network"] {
    --callout-color: 151, 117, 250;
    --callout-icon: network;
}

/* notes */

.callout[data-callout="notes"] {
    --callout-color: 134, 142, 150;
    --callout-icon: file-text;
}

/* orbit */

.callout[data-callout="orbit"] {
    --callout-color: 151, 117, 250;
    --callout-icon: orbit;
}

/* parking */

.callout[data-callout="parking"] {
    --callout-color: 64, 192, 87;
    --callout-icon: parking-square;
}

/* planet */

.callout[data-callout="planet"] {
    --callout-color: 77, 171, 247;
    --callout-icon: globe-2;
}

/* wave */
.callout[data-callout="waves"] {
    --callout-color: 77, 171, 247;
    --callout-icon: waves-2;
}

/* couch */
.callout[data-callout="sofa"] {
    --callout-color: 77, 171, 247;
    --callout-icon: sofa-2;
}

/* play */

.callout[data-callout="play"] {
    --callout-color: 18, 184, 134;
    --callout-icon: gamepad-2;
}

/* puzzle */

.callout[data-callout="puzzle"] {
    --callout-color: 199, 196, 0;
    --callout-icon: puzzle;
}

/* radar */

.callout[data-callout="radar"] {
    --callout-color: 34, 184, 207;
    --callout-icon: radar;
}

/* rainbow */

.callout[data-callout="rainbow"] {
    --callout-color: 233, 124, 238;
    --callout-icon: rainbow;
}

/* recycle */

.callout[data-callout="recycle"] {
    --callout-color: 18, 184, 134;
    --callout-icon: refresh-ccw;
}

/* rocket */

.callout[data-callout="rocket"] {
    --callout-color: 34, 184, 207;
    --callout-icon: rocket;
}

/* sailboat */

.callout[data-callout="sailboat"] {
    --callout-color: 64, 192, 87;
    --callout-icon: sailboat;
}

/* script */

.callout[data-callout="script"] {
    --callout-color: 134, 142, 150;
    --callout-icon: scroll;
}

/* shell */

.callout[data-callout="shell"] {
    --callout-color: 255, 146, 43;
    --callout-icon: shell;
}

/* ship */

.callout[data-callout="ship"] {
    --callout-color: 64, 192, 87;
    --callout-icon: ship;
}

/* shipwheel */

.callout[data-callout="shipwheel"] {
    --callout-color: 64, 192, 87;
    --callout-icon: shipwheel;
}

/* snowflake */

.callout[data-callout="snowflake"] {
    --callout-color: 64, 192, 87;
    --callout-icon: snowflake;
}

/* sparkles */

.callout[data-callout="sparkles"] {
    --callout-color: 199, 196, 0;
    --callout-icon: sparkle;
}

/* sprout */

.callout[data-callout="sprout"] {
    --callout-color: 64, 192, 87;
    --callout-icon: sprout;
}

/* sun */

.callout[data-callout="sun"] {
    --callout-color: 199, 196, 0;
    --callout-icon: sun;
}

/* train */

.callout[data-callout="train"] {
    --callout-color: 64, 192, 87;
    --callout-icon: train;
}

/* training */

.callout[data-callout="training"] {
    --callout-color: 64, 192, 87;
    --callout-icon: dumbbell;
}

/* tram-front */

.callout[data-callout="tram-front"] {
    --callout-color: 255, 146, 43;
    --callout-icon: tram-front;
}

/* trees */

.callout[data-callout="trees"] {
    --callout-color: 64, 192, 87;
    --callout-icon: trees;
}

/* tower-control */

.callout[data-callout="tower"] {
    --callout-color: 233, 124, 238;
    --callout-icon: tower-control;
}

/* user */

.callout[data-callout="user"] {
    --callout-color: 77, 171, 247;
    --callout-icon: user;
}

/* venetian */

.callout[data-callout="venetian"] {
    --callout-color: 151, 117, 250;
    --callout-icon: venetian-mask;
}

/* video */

.callout[data-callout="video"] {
    --callout-color: 151, 117, 250;
    --callout-icon: clapperboard;
}

/* watch */
.callout[data-callout="watch"] {
    --callout-color: 250, 82, 82;
    --callout-icon: watch;
}

